<md-toolbar class="md-theme-indigo">
	<h1 class="md-toolbar-tools">Menu</h1>
</md-toolbar>
<md-content layout-padding>

	<md-list>
		<md-list-item>
			<md-button ng-href="#public/home" ng-click="main.closeSidenav()">Home</md-button>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item>
			<md-button ng-href="#public/items" ng-click="main.closeSidenav()">Items</md-button>
		</md-list-item>
	</md-list>

	<md-button ng-click="main.closeSidenav()" class="md-primary" hide-gt-md>
		Close Sidenav Left
	</md-button>
</md-content>